
<form #recruiterForm="ngForm" (ngSubmit)="submitRecruiter()" type="submit" class="form-horizontal" novalidate>
  <fieldset>
  
  <!-- Form Name -->
  <legend>recruiterAdd</legend>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">First Name</label>  
    <div class="col-md-4">
    <input  [(ngModel)]="model.first" name="first" type="text" placeholder="first" class="form-control input-md" required=""> 
    <span class="help-block">Recruiter's first name</span>  
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="last">Last Name</label>  
    <div class="col-md-4">
    <input id="last" name="last" type="text" placeholder="last" class="form-control input-md" required="" [(ngModel)]="model.last">
    <span class="help-block">Recruiter's last name</span>  
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="phone">Phone</label>  
    <div class="col-md-4">
    <input id="phone" name="phone" type="text" placeholder="123-456-7890" class="form-control input-md" required="" [(ngModel)]="model.phone">
    <span class="help-block">Recruiter's phone number</span>  
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="email">Email</label>  
    <div class="col-md-4">
    <input id="email" name="email" type="text" placeholder="email" class="form-control input-md" required="" [(ngModel)]="model.email"> 
    <span class="help-block">Recruiter's email</span>  
    </div>
  </div>
  
  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="active">Active</label>
    <div class="col-md-1">
      <select id="active" name="active" class="form-control" [(ngModel)]="model.active">
        <option value="1">1</option>
        <option value="0">0</option>
      </select>
    </div>
  </div>
  
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="add">Add</label>
    <div class="col-md-4">
      <button id="add" name="add" class="btn btn-primary">Add</button>
    </div>
  </div>
  
  </fieldset>
  </form>